<div class="form-group col-md-12">
	<%= f.input :name, label: "Nombre del País:", label_html: { class: 'label-title'}, input_html: {class: 'col-md-12 form-control'}, placeholder: "Escriba el nombre del país..." %>
</div>