<div class="row">
	<div class="form-group col-md-6">
	<%= f.input :name, label: "Nombre de la Categoría:", label_html: { class: 'label-title'}, input_html: {class: 'col-md-12 form-control'}, placeholder: "Escriba el nombre de la Categoría..." %>
	</div>
	<div class="form-group col-md-2">
		<%= f.input :color, as: :minicolors, label: "Color:", label_html: { class: 'label-title'}, input_html: {class: 'col-md-12 form-control'} %>
	</div>
</div>