<footer style="padding-top: 1rem; background-color: #dad1bd; position: relative; bottom: 0; width: 100%;">
  <div class="row" style="margin-left: 0px;margin-right: 0px;">
  	<div class="col-md-10 offset-md-1 text-center">
  		<p>Copyright 2019 Todos los derechos reservados. Diseño y Desarrollo por: <a href="http://www.codecastle.com.sv" target="_blanck" title="Code Castle El Salvador" style="color:#ac313e; text-decoration: none;">CodeCastle El Salvador</a></p>
  	</div>
  </div>
</footer>