<div class="container" style="padding-top: 5rem;">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1 class="text-center">Bienvenido <br> Administrador Edgar</h1>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4 offset-md-2 text-center">
			<%= image_tag("logotipo.png", class:"img-fluid", style:"width: 250px; margin: auto;")%>
		</div>
		<div class="col-md-4 text-center">
			<%= image_tag("lwr_logo.png", class:"img-fluid")%>
		</div>
	</div>
	<br><br><br>
</div>
